@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --amarelo: #ffa500;
    --amarelo-escuro: #bd8827;
    --preto: #000;
    --cinza-meioescuro: #555555;
    --branco: #fff;
}

* {
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.7s;
}

::selection {
    background-color: var(--cinza-meioescuro);
    color: var(--branco);
}
.fundo {
    background-color: black;
    padding-bottom: 4.2rem;
    padding-top: 2rem;
}

.header {
    background: #00000098;
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    align-items: center;
}

.header section .logo img {
    margin: 10px;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0rem;
    padding-top: 0rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header nav {
    padding: 15px;
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header nav ul li {
    position: relative;
}

.header nav ul li a {
    color: white;
    font-size: 20px;
    position: relative;
    padding: 5px 0;
}

/* Linha que vai animar */
.header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: var(--amarelo);
    transition: width 0.3s ease;
}

.header nav ul li a:hover::after {
    width: 100%;
}

.header nav ul li a:hover {
    color: var(--amarelo);
    transition: 0.3s;
}

/*Container inicial*/
.home-container {
    background: url("./img/Inserir\ um\ título\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.home-container section {
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container .conteudo {
    display: flex;
    max-width: 90rem;
    padding: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-container .conteudo h1 {
    font-size: 5rem;
    font-weight: 9px;
    margin-bottom: 15px;
}

.home-container .conteudo h1 span {
    color: #ffa500;
    border-bottom: 4px solid var(--amarelo);
}

.home-container .conteudo p {
    max-width: 60rem;
    font-size: 22px;
    margin-bottom: 30px;
}

.home-container .conteudo button {
    display: flex;
    background: #000000b6;
    backdrop-filter: blur(250px);
    width: 490px;
    height: 85px;
    border-radius: 50px;
    border: 3.5px solid var(--amarelo);
    color: var(--amarelo);
    font-size: 35px;
    align-items: center;
    justify-content: center;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-top: 50px;
}

.home-container .conteudo button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/*historia */
.historia-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
}

.historia-container .caixa { 
    width: 590px;
    height: 400px;
    text-align: center;
}

.historia-container .caixa h1 {
    font-size: 37px;
    margin-bottom: 40px;
}

.historia-container .caixa p {
    width: 560px;
    margin-bottom: 30px;
}

.historia-container .caixa .btn-s {
    width: 200px;
    height: 50px;
    padding-bottom: 5px;
    font-size: 17px;
    background: var(--amarelo);
    color: var(--preto);
    border-radius: 50px;
    cursor: pointer;
}

.historia-container img {
    width: 450px;
    height: 400px;
}


/*Formulario*/
.forms-orcamento {
    display: block;
    background: var(--amarelo);
    width: 50%;
    padding-bottom: 2rem;
    padding-top: 3rem;
    padding-left: 35px;
    margin-left: 50%;
    align-items: center;
    justify-items: center;
}

.forms-orcamento h1 {
    font-size: 47px;
}

.forms-orcamento p {
    font-size: 20px;
    margin-bottom: 30px;
}

.forms-orcamento .caixa1 {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.forms-orcamento .caixa1 input {
    background: #fff;
    width: 13.2rem;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.forms-orcamento .caixa2 .text-box input {
    background: #fff;
    width: 27rem;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/*Selecionar como conheceu a empresa*/
select {
    width: 27rem;
    padding: 8px;
    font-size: 16px;
}

/**Botão formulario*/
.forms-orcamento .btn {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: rgb(19, 231, 19);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}